:root {
	--c-red: #f72210;
	;
	--c-gray: rgba(3, 3, 3, .4);
}



body {
	background-color: #f4f5f6;
}

/* Placement */

.container {
	max-width: 1310px;
	background-color: #fff;
}

.flex {
	display: flex;
}

.pad-left {
	padding: 0 0 0 1em;
}

/* Header */

.page-header__top {
	position: relative;
	z-index: 2;
	height: auto;
	padding: 20px 10px 25px;
	background-color: var(--c-red);
	color: white;
	fill: white;
	clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 95% 100%, 93% 85%, 0% 85%);
}

.header-row {
	justify-content: space-around;
	align-items: center;
}

.header-bottom {
	padding-bottom: 15px;
	border-bottom-width: 2px;
	color: black;
	font-weight: bold;
	background-color: white;
}

.header-bottom .menu {
	border-bottom: solid rgb(224, 224, 224) 1px;
}

.links-categories .leaf {
	padding: 0;
	border-right: solid rgb(224, 224, 224) 1px;
}

.links-categories>.menu {
	justify-content: space-between;
	padding-bottom: 1em;
}

.menu-bottom {
	color: var(--c-gray);
}

.menu-bottom>li:nth-child(1)>a:nth-child(1) {
	color: black;
}

.search>input {
	max-width: 80px;
	border: none;
	background-color: #fff;
	margin: 0;
}

.buttons {
	grid-template-columns: 1fr 1fr;
	width: auto;
}

.login-btn {
	border: none;
	background-color: var(--c-red);
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	display: inline-block;
}

.subscribe-btn {
	padding: 6px;
	border-radius: 12px;
	border: none;
	background-color: #ffe400;
	font-weight: bold;
	margin-right: auto;
	display: inline-block;
}

.logo-main__img {
	max-width: 100%;
}

/* Top story */

.top-story-container {
	margin-bottom: 2em;
}

/* Cards */

.card {
	border: none;
}

.card-img-top {
	border-radius: 0;
}

.small-card {
	border-bottom: rgb(228, 228, 228) solid 1px;
	border-radius: 0;
	margin: 1em 0;
}

.small-card .card-body {
	padding: 0 0 1em 1em;
}

.medium-card {
	margin: 0 .5em;
}

/* Debate */

.debate {
	margin-bottom: 2em;
}

.debate__item .small-card {
	border: none
}

.center {
	display: grid;
	place-items: center;
}

.debate__deco {
	text-align: center;
}

.debate-img {
	width: 63px;
	height: 63px;
	border-radius: 50%;
}

.first {
	border-top: rgb(228, 228, 228) solid 3px;
}

.last {
	border-bottom: rgb(228, 228, 228) solid 3px;
}

/* Magazine */

.magazine__card-img {
	object-fit: cover;
}

img {
	object-fit: cover;
}

/* Footer */

.menu {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;
}

.menu * {
	padding-right: 20px;
	margin: 6px 0;
}

.page-footer__links ul>li {
	color: var(--c-gray);
	border-right: solid rgb(224, 224, 224) 1px;
	padding: 0 0 0 1em;
}

ul {
	margin: 0;
}

.logo {
	color: var(--c-red);
	font-weight: bold;
	font-family: serif;
	font-size: 3em;
}

.logo-icons-container {
	border-bottom: solid rgb(224, 224, 224) 1px;
}

/* Typography */

h3 {
	margin-top: .5rem;
	font: bold 16px sans-serif;
	text-transform: uppercase;
	padding-bottom: 11px;
	color: rgba(3, 3, 3, .4);
}

.first-magazine>div:nth-child(2) {
	text-align: center;
}

.link-gray {
	color: black;
	font-weight: bold;
}

.card-body>a {
	color: black;
	font-weight: bold;
}

.category {
	color: var(--c-red);
	font-weight: bold;
}

.mag-cat {
	padding: .2em;
	color: white;
	background-color: var(--c-red);
}

.red {
	color: var(--c-red);
}

/* Buttons */

.btn {
	color: white;
}

.btn-primary {
	background-color: var(--c-red);
	border: none;
	font-weight: bold;
	color: white;
}

.form-text {
	margin-bottom: .5em;
}


/* TODO STICKY HEADER / ON SCROLL HEADER /w JS */