


:root {
	--c-red: #F72210;
}

/* Placement */

.container {
	max-width: 1310px;
}

.flex {
	display: flex;
}

.pad-left {
	padding: 0 0 0 1em;
}




/* Top story */
.top-story-container {
	margin-bottom: 2em;
}






/* Cards */


.card {
	border: none;
}

.card-img-top {
	border-radius: 0;
}

.small-card {
	border-bottom: rgb(228, 228, 228) solid 1px;
	border-radius: 0;
	margin: 1em 0;
}

.small-card .card-body {
	padding: 0 0 1em 1em;
	
}

.medium-card {
	margin: 0 .5em;
}


/* Debate */

.debate {
	margin-bottom: 2em;
}

.debate__item .small-card {
	border:none
}

.center {
	display: grid;
	place-items: center;
}

.debate__deco {
	text-align: center;
}
.debate-img {
	width: 63px;
	height: 63px;
	border-radius: 50%;
	
}

.first {
	border-top: rgb(228, 228, 228) solid 3px;
	
}
.last {
	border-bottom: rgb(228, 228, 228) solid 3px;

}


/* Magazine */

.magazine__card-img {
	object-fit: cover;
}

img {
	object-fit: cover;
}

/* Footer */

.menu {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;

}

.menu * {
	padding-right: 20px;
	margin: 6px 0;
}

ul {
	margin: 0;
}



/* Typography */

h3 {
	margin-top: .5rem;
	font: bold 16px sans-serif;
	text-transform: uppercase;
	padding-bottom: 11px;
	color: rgba(3,3,3,.4);
}


.first-magazine > div:nth-child(2) {
	text-align: center;
}

.link-gray {
	color: black;
	font-weight: bold;
}

.card-body > a{
	color: black;
	font-weight: bold;
}

.category {
	color: var(--c-red);
	font-weight: bold;
}

.mag-cat {
	padding: .2em;
	color: white;
	background-color: var(--c-red);
}

.red {
	color: var(--c-red);
}

/* Buttons */

.btn {
	color:white;
}
.btn-primary {
	background-color: var(--c-red);
	border: none;
	font-weight: bold;
	color: white;
}

.form-text {
	margin-bottom: .5em;
}